@import 'variables.scss';

.about-us {
  width: 100%;
  box-sizing: border-box;
  padding: 0px 32px 42px 32px;
}
@media screen and (max-width: 320px) {
  .about-us {
    padding-left: 0;
    padding-right: 0;
    max-width: 320px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .about-us {    
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (min-width: 1120px) {
  .about-us {
    padding-left: 34px;
    padding-right: 29px;
  }
}

@media screen and (min-width: 1120px) { 
  .about-us-title {
    margin-left: 30px;
  }
}

.about-us-nav {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-top: 10px;
}
@media screen and (max-width: 320px) { 
  .about-us-nav {
    margin-left: 16px;  
  }
}
@media screen and (min-width: 1120px) { 
  .about-us-nav {    
    flex-wrap: wrap;    
  }
}


.about-us-nav__link{
  font-size: 16px;
  line-height: 24px;  
  color: $titleColor;
  text-decoration: none;
  padding: 6px 20px;
  border: 2px solid transparent;
  border-radius: 6px;
  display: block;
  white-space: nowrap;  

 &:hover{
  background-color: $backgroundColor; 
  border: 2px solid $borderColor;
  box-sizing: border-box;
  border-radius: 6px;  
}
}

.about-us-content {
  display: flex;
  align-items: flex-start;
}
@media screen and (max-width: 320px) {  
  .about-us-content {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) { 
  .about-us-content {
    flex-direction: row;
  }
}

.about-us-wrapper__text {
  flex-grow: 1;  
  line-height: 20px;
  font-size: 14px;
  box-sizing: border-box;

@media screen and (max-width: 320px) { 
    max-width: 320px;    
    padding-left: 16px;
    padding-right: 16px; 
  
}
@media screen and (min-width: 768px) { 
    padding: 0;   
  }
&--hide{
  display: none;
}
}


.about-us-content__img {
  width: 50%;
  margin-left: 32px;
  flex-shrink: 0;
  border-radius: 6px;
}
@media screen and (max-width: 320px) {  
  .about-us-content__img {
    width: 320px;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .about-us-content__img {    
    margin-left: 48px;
  }
}
@media screen and (min-width: 1120px) {  
  .about-us-content__img {
    margin-left: 36px;
  }
}


  .about-us-content__button--open{
    position: relative;
    
    &::before {
    content: "";
    display: block;
    background-image: url("../img/a.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 8px;
    height: 11px;
    position: absolute;
    top: 7px;
    left: 10px;
  }
}
@media screen and (max-width: 320px) {  
  .about-us-content__button--open {
    margin-bottom: 15px;
  }
}

.about-us-content__button--hide{
  position: relative;  
  &::before {
    content: "";
    display: block;
    background-image: url("../img/link-hide.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 8px;
    height: 11px;
    position: absolute;
    top: 7px;
    left: 10px;
  } 
}




