@import 'variables.scss';

.brands {
    background-color: #f8f8f8;
    margin-bottom: 16px;
  }
  
  .brands__title {   
    padding: 16px;
    margin-bottom: 24px;
  }
  
  .brands__container {
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    overflow: hidden;
    list-style: none;
    box-sizing: border-box;
  }
  
  .brands__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;    
    flex-shrink: 0;
    background-color: $backgroundColor;
    border: 1px solid $separatorColor;
    border-radius: 6px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  @media screen and (max-width: 320px) {
    .brands__container {
      max-width: 320px;
      overflow-x: auto;
      flex-wrap: nowrap;      
      height: 80px;
      margin-bottom: 16px;      
      padding: 16px;
      padding-left: 0;      
    }
  
    .brands__title {
      white-space: normal;
      max-width: 320px;
      box-sizing: border-box;
    }
  
    .brands__item {
      width: 240px;
      height: 72px;
      margin-left: 16px;
      margin-right: 0;
    }
  
    .brands__link--open {
      display: none;
    }
  }
  
  @media screen and (min-width: 321px) {
    .brands__title {
      padding-left: 24px;
      white-space: normal;
      width: auto;
    }
  
    .brands__container {
      flex-wrap: wrap;
      flex-direction: row;
      width: 816px;
      height: 156px;
      margin-bottom: 8px;
      overflow-x: visible;
      overflow-y: hidden;     
      padding-right: 24px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .brands__item {
      width: 240px;
      height: 72px;
      margin-bottom: 16px;
      margin-left: 24px;
    }
  
    .brands__link--open {
      display: block;
    }
  }
  
  @media screen and (min-width: 1120px) {
    .brands__title {
      padding-left: 32px;
    }
  
    .brands__container {     
      width: 1120px;
      height: 176px;
      margin-bottom: 8px;
      overflow: hidden;      
      padding-right: 0;
    }
  
    .brands__item {      
      margin-bottom: 16px;
      margin-left: 32px;
  
      &:nth-of-type(3n) {
        margin-right: 0px;
      }
    }
  
    /*.brands__item:nth-of-type(4n){       
        margin-left: 32px;
    }*/
  }
  
  .brands__link--hide {
    display: none;
    border: 1px solid red;
  }
  
  .arrow-btn {
    display: block;
    background: url("../img/gob_6.svg") no-repeat;
    width: 42px;
    height: 42px;
  }