@import 'variables.scss';

.brands {
    background-color: $mainBg;
    margin-bottom: 16px;
    overflow: hidden;
  }
  @media screen and (min-width: 321px) {
    .brands{
      width: 100%;
      box-sizing: border-box;
    }
  }
  
  .brands__title {   
    padding: 16px;
    margin-bottom: 24px;
    box-sizing: border-box;
  }
  @media screen and (max-width: 320px) {
    .brands__title {
    white-space: normal;
    max-width: 320px;
  }
}
@media screen and (min-width: 321px) {    
  .brands__title {
    padding-left: 24px;
    white-space: normal;
    width: auto;
  }
}

  
  .brands__container {
    display: flex;
    flex-wrap: wrap;        
    list-style: none;
    box-sizing: border-box;
  }
  @media screen and (max-width: 320px) {
    .brands__container {
      max-width: 320px;
      width: 100%;      
      flex-wrap: nowrap;      
      height: 87px;
      margin-bottom: 16px;      
      padding: 16px;
      padding-left: 0;      
    }
  }
  @media screen and (min-width: 321px) {   
    .brands__container {
      flex-wrap: wrap;
      flex-direction: row;
      max-width: 816px;      
      margin-bottom: 8px;
      overflow-x: visible;         
      padding-right: 24px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media screen and (min-width: 1120px) {    
    .brands__container {     
      max-width: 1120px;      
      margin-bottom: 8px;         
      padding-right: 0;
    }
  }
  
  
  .brands__item {
    display: flex;
    width: 240px;
    height: 72px;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;    
    flex-shrink: 0;
    background-color: $backgroundColor;
    border: 1px solid $separatorColor;
    border-radius: 6px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  @media screen and (max-width: 320px) {     
    .brands__item {      
      margin-left: 16px;
      margin-right: 0;
    }
  } 
  @media screen and (min-width: 321px) {     
    .brands__item {     
      margin-bottom: 16px;
      margin-left: 24px;
    }
  }
  @media screen and (min-width: 1120px) {  
    .brands__item {      
      margin-bottom: 16px;
      margin-left: 32px;
  
      &:nth-of-type(3n) {
        margin-right: 0px;
      }
    }  
  }


  .brands__item--hide--close{
    @media screen and (min-width: 321px){
      &:nth-child(n+7) {
          display: none; 
      }
  }
  @media screen and (min-width: 1120px){
    &:nth-child(n+7) {
      display: flex; 
  }
      &:nth-child(n+9) {
          display: none; 
      }
  }  
  }  
  .brands__item--hide--open{    
    @media screen and (min-width: 321px){
      &:nth-child(n+7) {
          display: flex; 
      }
  }
  @media screen and (min-width: 1120px){
    &:nth-child(n+7) {
      display: flex; 
  }
      &:nth-child(n+9) {
          display: flex; 
      }
  }  
  }    

  
  /*Кнопки*/
  .brands__button--open {    
    margin-left: 18px;   
    display: none;  
  }
  @media screen and (min-width: 321px) {   
    .brands__button--open {
      display: block;
    }
  }  
  .brands__button--hide{
    margin-left: 18px;        
  }
  
  