@import 'variables.scss';

.dropdown-menu{    
    width: 100%;   
    max-width: 310px;   
    height: auto;   
    padding: 19px 24px 34px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    transform: translateX(-100%);
    transition-duration: 3s;
    background-color: $backgroundColor;
  }
  .dropdown-menu.transform{
    transform: none;
  } 
  .dropdown-menu__header {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    margin-top: 15px;
    justify-content: space-between;
  }
  
  .primary-btn--type_close{    
    background: #ff3e79 url("../img/close.svg") no-repeat center;
    border: none;    
    margin-right: 17px;
  }
  
  .primary-btn--type_search {    
    background: $btnColor url("../img/search.svg") no-repeat center;
    border: none;    
    margin-left: auto;    
  }  
  .dropdown-nav__link {
    font-size: 16px;
    line-height: 24px;
    color: #1B1C21;
    text-decoration: none;
    display: block;
    margin-top: 8px;
    padding-top: 8px;
    margin-bottom: 8px;
    padding-bottom: 8px;    
    position: relative;
  }
  
  .dropdown-nav__link--active {
    color: $titleColor;
  
    &::before {
      content: "";
      position: absolute;
      width: 4px;
      height: 40px;
      background-color: #b8ffec;
      border-radius: 2px;
      top: 0px;
      left: -16px;
      display: block;
    }
  }
  
  .dropdown-menu__container-footer {
    margin-top: 32px;
  }
  
  .social-btns {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
  }
  
  .btn-call {
    background-image: url("../img/phone.svg");
    margin-right: 16px;
  }
  
  .btn-mail {
    background-image: url("../img/chat.svg");
    margin-right: 16px;
  }
  
  .btn-profile {
    background-image: url("../img/profile.svg");
  }
  
  .dropdown-contacts-email {
    font-size: 16px;
    line-height: 24px;
    color: #1b1c21;
    text-decoration: none;
  }
  
  .dropdown-contacts-number {
    font-size: 24px;
    line-height: 32px;
    color: #1b1c21;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-top: 12px;
    margin-bottom: 40px;
    white-space: nowrap;
  }
  
  .languages-list {
    text-decoration: none;
    margin-bottom: 32px;
  }
  
  .languages-list__item {
    display: inline-block;
  }
  
  .languages-list__link {
    font-size: 16px;
    line-height: 24px;
    color: #1b1c21;
    text-decoration: none;
    margin-right: 7px;
  
    &:hover {
      color: $titleColor;
    }
  }
  
  @media screen and (max-width: 320px) {
    .dropdown-menu {
      display: block;
      padding-left: 16px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 6;
    }
  }
  
  @media screen and (min-width: 321px) {
    .dropdown-menu {         
      padding-left: 24px;
      box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
      transform: translateX(-120%);
    }
  
    .dropdown-menu__container-footer {
      margin-top: auto;
    }
  }
  
  @media screen and (min-width: 1120px) {
    .dropdown-menu {       
      position: static;
      padding-left: 27px;      
      box-shadow: none;
      transform: none;
      transition: 0s;
    }  
    .dropdown-menu__close {
      display: none;
    }  
    .dropdown-menu__container-footer {
      margin-top: 241px;
    }
  }
  @media screen and (max-height: 850px){
    .dropdown-menu{
      height: 100%;
      overflow-y: auto;
    }    
  }