@import 'variables.scss';

.feedback-modal {
    position: fixed;    
    transform: translateX(120%);
    transition-duration: 3s;
    top: 0;
    right: 0;
    z-index: 204;
    background-color: $backgroundColor;
    padding-top: 40px;   
    padding-bottom: 10px; 
    height: 100%;
    box-sizing: border-box;
  }
  @media screen and (max-width: 310px) {
    .feedback-modal {
      max-width: 320px;           
      box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
    }
  }
  @media screen and (min-width: 311px) {
    .feedback-modal {
      max-width: 440px;
      width: 100%;
    }
  }
  
  .feedback-modal--transform{
    transform: none;
  }
  
  .feedback-modal__content{  
  overflow-y: auto;
  height: 100%;
  }
  
  .feedback-modal__title {
    font-size: 24px;
    line-height: 32px;
    color: $mainColor;
    font-weight: bold;
    margin-left: 16px;
    margin-top: 84px;    
    border: 1px solid transparent;
    position: relative;  
    &::before {
      position: absolute;
      content: "";
      width: 3px;
      height: 40px;
      background-color: $highlightColor;
      border-radius: 2px;
      top: 0;
      left: -18px;
    }
  }
  
  @media screen and (min-width: 441px) { 
    .feedback-modal__title {
      margin-top: 40px;
      margin-left: 32px;
  
      &::before {        
        top: 0;
        left: -34px;
      }
    }
  }
  
  .feedback-modal__form {
    box-sizing: border-box;
    margin-top: 24px;
  }
  @media screen and (max-width: 310px) {   
    .feedback-modal__form {
      margin-left: 16px;
      margin-right: 16px;
    }
  }
  @media screen and (min-width: 311px) {    
    .feedback-modal__form {
      margin-left: 32px;
      margin-right: 32px;      
    }
  } 
 
  
  
  .feedback-modal__form {
    input {
      width: 100%;
      padding: 12px 16px;
      font-family: "TT Lakes", "Verdana", sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: $inputColor;
      border: 1px solid $separatorColor;
      border-radius: 8px;
      margin-bottom: 16px;
      box-sizing: border-box;
    }
  
    textarea {
      border-radius: 8px;
      border: 1px solid $separatorColor;
      width: 100%;
      height: 118px;
      padding: 12px 16px;
      box-sizing: border-box;
    }
  
    input:focus {
      outline: none;  
    }
  }
  
  textarea::placeholder, input::placeholder {
    font-family: "TT Lakes", "Verdana", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: $inputColor;
  }
  
  .feedback-modal__button {
    display: block;
    margin-left: auto;
    margin-right: 0;
  }
  
  .feedback-modal__text {
    margin-bottom: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: $titleColor;
  }
  
  .feedback__link{
    text-decoration: none;
    color: $btnColor;
  } 
  
  .feedback-modal__close {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 16px;
    left: 24px;    
  }  
  @media screen and (min-width: 441px) {    
    .feedback-modal__close {      
      top: 32px;
      left: -64px;     
      margin-bottom: 20px;
    }
  }


  