@import 'variables.scss';

  .price-policy {
    color: $mainColor; 
    max-width: 320px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 16px;
    &:hover, &:focus {
      text-decoration: underline;;
      cursor: pointer;
    }
  }
@media screen and (min-width: 321px) {
  .price-policy {
    max-width: 420px;
    padding-left: 24px;
  }
}

.price-policy__text {
  font-size: 14px;
  line-height: 20px;
}

.price-policy__link {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-decoration: none;
  color: $mainColor;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/price-policy.svg");
    background-repeat: no-repeat;
    height: 12px;
    width: 7px;
    top: 6px;
    right: -13px;
  }
}

