@import "normalize.scss";
@import 'variables.scss';

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Bold.eot');
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url('../fonts/TTLakes-Bold.eot?#iefix') format("embedded-opentype"), url('../fonts/TTLakes-Bold.woff') format("woff"), url('../fonts/TTLakes-Bold.ttf') format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Medium.eot');
  src: local("TT Lakes Medium"), local("TTLakes-Medium"), url('../fonts/TTLakes-Medium.eot?#iefix') format("embedded-opentype"), url('../fonts/TTLakes-Medium.woff') format("woff"), url('../fonts/TTLakes-Medium.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Regular.eot');
  src: local("TT Lakes Regular"), local("TTLakes-Regular"), url('../fonts/TTLakes-Regular.eot?#iefix') format("embedded-opentype"), url('../fonts/TTLakes-Regular.woff') format("woff"), url('../fonts/TTLakes-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

body {
  background: $mainBg;
  padding: 0;
  margin: 0;
  font-family: "TT Lakes", "Times New Roman", sans;
  font-weight: normal;
}

.container {
  display: flex;
  position: relative;
  max-width: 1440px;
  margin: auto;
  width: 100%;
}

.main-container{
  width: 100%;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  top: 0;
  right: 0;
  background-color: $backgroundColor;
  opacity: 0.96;
  
}

.list-reset {
  padding-left: 0;
  /*стандартные стили для списка*/
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.swiper-container {
  width: 600px;
  height: 300px;
}

.page-title{
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  color: $titleColor;
  display: block;
  background: linear-gradient(90deg, $mainBg 0%, $backgroundColor 98.61%);
}
/*Pagination*/
.pagination {
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  display: block;

  width: 12px;
  height: 12px;
  margin-right: 12px;

  background-color: #ddd;
  border-radius: 50%;

  &:last-child {
      margin-right: 0;
  }

  &-active {
      background-color: #B5B6BC;
  }
}
.brands-pagination{  
  width: 130px; 
  height: 18px;  
  box-sizing: border-box; 
  margin-left: auto; 
  margin-right: auto;
}
.tech-repair-pagination{
  width: 150px; 
  box-sizing: border-box;
  margin-left: auto; 
  margin-right: auto;
}
.prices-pagination{
  width: 85px;
  box-sizing: border-box; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 16px;
}

