@import 'variables.scss';
.tech-repair{
  overflow-x: hidden;
}
.tech-container {
  display: flex; 
  box-sizing: border-box;
  width: 100%;
}
@media screen and (max-width: 320px) {
  .tech-container {
    flex-wrap: nowrap;     
    max-width: 320px;      
    height: 180px;     
  } 
}
@media screen and (min-width: 321px) {
  .tech-container { 
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 816px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
}
@media screen and (min-width: 1120px) {
  .tech-container {     
    max-width: 1120px;
  }
}

.tech-repair__title {   
    padding: 16px;
    margin-top: 0;
    padding-left: 32px;
    margin-bottom: 24px;
  }
  @media screen and (max-width: 320px) {  
    .tech-repair__title {
      max-width: 320px;
      width: 100%;
      white-space: normal;
      margin-left: 0;
      box-sizing: border-box;
      padding-left: 16px;
    }
  }
  @media screen and (min-width: 321px) {
    .tech-repair__title {
      width: auto;
      padding-left: 24px;
    }
  }
  
  .tech-container__item {
    margin-left: 32px;
    margin-bottom: 24px;
    width: 240px;
    height: 160px;
    background-color: $backgroundColor;
    border: 1px solid $separatorColor;
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
  }
  @media screen and (max-width: 320px) {
    .tech-container__item {
      margin-left: 16px;
      margin-bottom: 16px;      
      list-style: none;
  
      &:last-of-type {
        margin-right: 16px;
      }
    }
  }
  @media screen and (min-width: 321px) {
    .tech-container__item {
      margin-left: 24px;
      margin-bottom: 24px;
  
      &:nth-of-type(3n) {
        margin-right: 24px;
      }
    }
  }
  @media screen and (min-width: 1120px) {
    .tech-container__item {      
      margin-left: 32px;
  
      &:nth-of-type(3n) {
        margin-right: 0;
      }
      &:nth-of-type(3) {
        display: flex;
      }
      &:nth-of-type(4n) {
        margin-right: 32px;
      }
      &:nth-of-type(4) {
        display: flex;
      }
    }
  }  
    
      .tech-container__item--hide{
        @media screen and (min-width: 321px){
          &:nth-child(3+n) {
              display: none; 
          }
      }
      @media screen and (min-width: 1120px){
          &:nth-child(5+n) {
              display: none; 
          }
      }  
      }      
    
  

  .tech-container__title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: $mainColor;
    padding-left: 16px;
  }

  .tech-container__link {
    margin: 16px;
    display: block;
    align-self: flex-end;    
  }
  
  
  .tech-repair__arrows-link{
    margin-left: 18px;
    display: none;
  }
  @media screen and (min-width: 321px) {
    .tech-repair__arrows-link {
      display: block;
    }
  }
  

  .tech-repair__arrows-link--hide{
      margin-left: 18px;
      display: none;
  } 
 
  
 